.login{
    height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login .message p{
    float: left;
    color: #EEE;
    font-size: 40px;
    font-weight: 500;
    width: 50%;
    margin-top: 15%;
    background-color: rgba(38, 51, 39, 0.4);
}

.login .loginForm{
    padding: 20px;
    margin-top: 8%;
    background: rgba(38, 51, 39, 0.4);
    width: 34%;
    float: right;
}
.login .loginForm h3{
    color: #EEE;
    margin: 7%;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
}
.login .loginForm > input{
    color: #EEE;
    display: block;
    width: 80%;
    margin: 4% auto;
    padding: 2%;
    border: none;
    outline: none;
    border-bottom: 1px solid #EEE;
    background: rgba(124, 124, 124, 0.3);
}

.login .loginForm > input::placeholder{
    color: rgba(238, 238, 238, 0.61);
}

.login .loginForm .btn{
    display: block;
    margin: 4% auto;
}

.login .loginForm  a,
.login .loginForm p
{
    font-weight: 600;
    color: #EEE;
}

.login .loginForm  a{
    text-decoration: underline;
}

.login .loginForm  a:hover{
    color: #444;
    text-decoration: none;
}

@media (max-width: 767px){ /* phone screen */


    .login{
        height: 550px;
    }

    .login .message p{
        float: none;
        width: 100%;
        margin: auto;
        font-size: 27px;
    }

    .login .loginForm{
        padding: 20px;
        margin: 10% auto;
        width: 90%;
        float: none;
    }

}

@media (min-width: 768px) and (max-width: 991px){ /* small screen */

    .login{
        height: 550px;
    }

    .login .message p{
        font-size: 27px;
        width: 30%;
    }

    .login .loginForm{
        padding: 20px;
        width: 60%;
        float: right;
    }


}