.Form{
    padding: 2% 0%;
}

.Form .inputs{
    float: right;
    width: 49%;
}

.Form .inputs input:first-of-type{
    margin-top: 7%;
}

.Form .inputs input,
.Form .inputs textarea{
    width: 80%;
    margin: 5% 0 0 -10%;
    padding: 1%;
    border-radius: 20px;
    outline: none;
    background-color: #EEE;
    border: none;
}

.Form .inputs input:placeholder-shown,
.Form .inputs textarea:placeholder-shown{
    padding-left: 2.5%;
}

.Form .inputs textarea{
    height: 150px;
}

.Form .FormIcon{
    font-size: 500px;
    margin-top: -5%;
    color: #54d3f0;
}
.Form button{
    display: inline-block;
    width: 25%;
    padding: 1.3%;
    background-color: #54d3f0;
    border: 1px solid #EEE;
    font-weight: 500;
    margin-top: 3%;
}
@media (max-width: 768px){ /* phone screen */
        
    .Form .inputs{
        float: none;
        width: 100%;
        margin: auto;
    }

    .Form .inputs input:first-of-type{
        margin-top: 7%;
    }

    .Form .inputs input,
    .Form .inputs textarea{
        width: 90%;
        margin: 5% 0 0;
    }

    .Form .FormIcon{
        font-size: 150px;
        margin-top: 5%;
    }
}

@media (max-width: 991px) and (min-width: 767px),
{
    
    .Form .FormIcon{
        font-size: 250px;
        margin-top: 5%;
    }

    .Form .inputs{
        width: 60%;
    }
}

@media (min-width: 992px) and (max-width:1199px){ /* medium screen */

    .Form .FormIcon{
        font-size: 350px;
        margin-top: 5%;
    }

    .Form .inputs{
        width: 60%;
    }

}