.main{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 270px;
    color: #EEE;
    padding: 10px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main .list{
    list-style: none;
    float: left;
    width: 33.33%;
    text-align: left;
}
.main .list .header{
    margin: 25px 0;
}

.main hr{
    margin: 20px 0;
    border: none;
    background-color: #999;
    height: 1px;
}

.socialMedia > div{
    float: left;   
}
.socialMedia .icons{
    float: right;
    width: 20%;
}

a{
    color: #999;
}
a:hover{
    color: #EEE;
    text-decoration: none;
}